:root {
	--none: transparent;
}
.xs-navbar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: transparent !important;
	z-index: 2;
}
.xs-navbar.default {
	background-color: #007bff !important;
	.xs-nav-bg {
		background-color: #007bff !important;
	}
}
.xs-nav-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -1;
	transition: all .3s;
}
.xs-nav-bg.hide {
	background-color: transparent;
}
// 列表按钮
.navbar-toggler {
	position: absolute;
	right: 20px;
	top: 10px;
	transfrom: translateY( -50% );
}
// 导航
.nav-link {
	a {
		transition: all .4s;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.navbar-light {
	.nav-link {
		a {
			color: rgba(0, 0, 0, 0.6);
			&:hover, &:focus {
					color: rgba(0, 0, 0, 1);
					text-decoration: none;
			}
		}
	}
}
.navbar-dark {
	.navbar-brand {
	}
	.nav-link {
		a {
			color: rgba(255, 255, 255, 0.5);
			&:hover, &:focus {
				color: rgba(255, 255, 255, 1);
				text-decoration: none;
			}
		}
	}
} 