@import url('https://fonts.googleapis.com/css?family=PT+Mono');

@function set-counter-bg-color($color) {
  @if (lightness($color) > 50) {
    @return darken($color, 60%);
  } @else {
    @return lighten($color, 50%);
  }
}

$bg: #0d0630;
$itemBg1: #18314f;
$itemBg2: #8bbeb2;
$itemBg3: #e6f9af;
$itemBg4: #384e77;
$itemBgWhite: #fff;
@mixin setColorAndHover($baseColor) {
  &:hover {
    background: lighten($baseColor, 8%);
  }
}

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'PT Mono', monospace;
}

.photo-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  
.masonry {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 360px) {
    flex-direction: row;
  }
}

.column {
  display: -webkit-box;
  flex-flow: column wrap;
  width: 100%;

  @media screen and (min-width: 360px) {
    width: calc(100% / 2);
  }
  @media screen and (min-width: 600px) {
    width: calc(100% / 3);
  }
  @media screen and (min-width: 800px) {
    width: calc(100% / 4);
  }
  @media screen and (min-width: 1100px) {
    width: calc(100% / 5);
  }
}

.item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  counter-increment: item-counter;
  height: auto;
  &__content {
    position: relative;
    width: 100%;
    color: darken($bg, 5%);
    background-color: #fff;
    box-sizing: border-box;
    .item__content-img {
      width: 100%;
      height: auto;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #fff;
      text-align: center;
      transition: all 1s;
    }
    .item__content-main {
      height: 60px;
      .main-wrapper {
        padding: 10px;
        display: flex;
        flex-direction: column;
        .title {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .sub {
          color: #999;
          font-size: 14px;
          span {
            &:first-child {
              &::after {
                content: '\B7';
                margin: 0 0.4em;
                color: #8f969c;
              }
            }
          }
        }
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      font-weight: bold;
    }

    &:after {
      color: darken($bg, 10%);
    }
  }
}
}

